<a href="https://colab.research.google.com/github/AMAL1807/DSMLTASK/blob/main/map_reduce_filter_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Create a function with a default argument

Write a program to create a function show_employee() using the following conditions


        *   it should accept the employee's name and salary and display both.
        *   if the salary is missing in the function call then assign default value 9000 to salary

**Given:**
showEmployee("Ben",12000)
showEmployee("Jessa")

**Expected output:**

Name: Ben salary: 12000
Name: Jessa salary: 9000

In [ ]:
def show_employee(name, salary=9000):
    print("Name:", name, "Salary:", salary)

# Test cases
show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben Salary: 12000
Name: Jessa Salary: 9000

Exercise 2: Create an inner function to calculate the addition in the following way


*   Create an outer function that will accept two parameters, a and b
*   Create an inner function inside an outer function that will calculate the addition of a and b
*   At last, an outer function will add 5 into addition and return it

In [ ]:
def outer_function(a, b):
    def inner_function():
        return a + b

    addition = inner_function() + 5
    return addition

result = outer_function(2,3)
print("Result:", result)

Result: 10

Exercise 3: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
even_numbers = [num for num in range(4, 31) if num % 2 == 0]
print(even_numbers)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Exercise 4: Lambda Function to Check if value is in a List
Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]
          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
Output :  Element is NOT Present in the list

In [ ]:
L = [1, 2, 3, 4, 5]
element = 4

# using lambda function and filter
is_present = bool(list(filter(lambda x: x == element, L)))

if is_present:
    print("Element is present in the list")
else:
    print("Element is not present in the list")

Element is present in the list

Exercise 5: Sort list of tuples with their sum
Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
points = [(1,2), (5,3), (0,7), (3,1)]

sorted_points = sorted(points, key=lambda x: sum(x))

print("Sorted points:", sorted_points)

Sorted points: [(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 :
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def find_even_digit_numbers():
    #initialize an empty list to store the result
    result = []

    # Iterate through numbers from 1000 to 3000
    for num in range(1000, 3001):
        # Convert the number to a string for easy iteration through its digits
        num_str = str(num)
        # Assume the number satisfies the condition until proven otherwise
        satisfies_condition = True

        # Check each digit of the number
        for digit in num_str:
            # convert the digit back to an integer
            digit_int = int(digit)
            # If any digit is odd, set the flag to false and break out of the loop
            if digit_int % 2 != 0:
                satisfies_condition = False
                break

        # If the number satisfies the condition, add it to the result list
        if satisfies_condition:
            result.append(num)

    # Return the list of numbers satisfying the condition
    return result

# Test the function
print(find_even_digit_numbers())

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

Exercise 7 :
Write a python function that accepts a sentence and calculate and return the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [ ]:
def count_letters_digits(sentence):
    letter_count = 0
    digit_count = 0

    # Iterate through each character in the sentence:
    for char in sentence:
        # check if the character is a letter
        if char.isalpha():
            letter_count += 1
        # check if the character is a digit
        elif char.isdigit():
            digit_count += 1

    # Return the counts of letters and digits
    return letter_count, digit_count

# Test the function with the given input
input_sentence = "hello world! 123"
letters, digits = count_letters_digits(input_sentence)
print("LETTERS", letters)
print("DIGITS", digits)

LETTERS 10
DIGITS 3

Exercise 8  MAP:
Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
def process_sequence(sequence):
    # Convert all characters to uppercase and lowercase using map() function
    upper_case =list(map(lambda char: char.upper(), sequence))
    lower_case =list(map(lambda char: char.lower(), sequence))

    # Eliminate duplicate letters
    unique_characters = set(sequence)

    return upper_case, lower_case, unique_characters

# Test the function
sequence = "Hello World"
upper_case, lower_case, unique_characters = process_sequence(sequence)
print("Uppercase:", upper_case)
print("Lowercase:", lower_case)
print("Unique Characters:", unique_characters)

Uppercase: ['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']
Lowercase: ['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
Unique Characters: {'o', 'r', 'e', 'd', 'l', ' ', 'W', 'H'}

Exercise 9 MAP:
 Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [ ]:
def add_lists(list1, list2):
    # Element wise addition using map() function
    sum_result = list(map(lambda x, y: x+y, list1, list2))

    # Element-wise difference
    difference_result = list(map(lambda x,y: x-y, list1, list2))

    return sum_result, difference_result

# Test the function
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

sum_result, difference_result = add_lists(list1, list2)
print("Element wise sum:", sum_result)
print("Element wise difference:", difference_result)

Element wise sum: [7, 9, 11, 13, 15]
Element wise difference: [-5, -5, -5, -5, -5]

Exercise 10 Filter:
Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.
Original Dictionary:
{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
Height> 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 71)}

In [ ]:
# Original dictionary
students = {
    'Cierra vega': (6.2, 71),
    'Alden Cantrell': (5.9, 65),
    'Kierra Gentry': (6.0, 68),
    'Pierre Cox' : (5.8, 66)
}
# Filter students based on height > 6ft and weight > 70kg
filtered_students = dict(filter(lambda item: item[1][0] > 6.0 and item[1][1] > 70,students.items()))

# print the filtered result
print("Height > 6ft and weight > 70kg:")
print(filtered_students)

Height > 6ft and weight > 70kg:
{'Cierra vega': (6.2, 71)}

Exercise 11 Filter:
Write a Python program to remove all elements from a given list present in another list using lambda.
Original lists:
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [2, 4, 6, 8]
Remove all elements from 'list1' present in 'list2:
[1, 3, 5, 7, 9, 10]

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [2,4,6,8]

# Remove elements from list1 present in list2
result = list(filter(lambda x: x not in list2,list1))

print("original list:")
print("list1:",list1)
print("list2:",list2)
print("Remove all elements from 'list1' present in 'list2:")
print(result)

original list:
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [2, 4, 6, 8]
Remove all elements from 'list1' present in 'list2:
[1, 3, 5, 7, 9, 10]

Exercise 12 Reduce:


Write a Python program to calculate the product of a given list of numbers using lambda.
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Product of the said list numbers:
3628800

In [ ]:
from functools import reduce

list1 = [1,2,3,4,5,6,7,8,9,10]

# calculate the product of the list numbers
product = reduce(lambda x, y: x * y, list1)

print("product of the list numbers:",product)

product of the list numbers: 3628800

Exercise 13 Reduce:


 Write a Python program to multiply all the numbers in a given list using lambda.
Original list:
[4, 3, 2, 2, -1, 18]
Mmultiply all the numbers of the said list: -864

In [ ]:
from functools import reduce

original_list = [4,3,2,2,-1,18]

# multiplying all the numbers of the list
multiplication = reduce(lambda x, y: x * y, original_list)

print("multiplication of the numbers of the original list:",multiplication)

multiplication of the numbers of the original list: -864

Exercise 14 Reduce:


Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
Original Tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

In [ ]:
from functools import reduce

# original tuple of tuples
tuples = ((10, 10, 10), (30,45,56),(81,80,39),(1,2,3))

# unzip the tuple of tuples to seperate columns
unzipped = list(zip(*tuples))

# Calculate the average for each column using reduce
averages = tuple(map(lambda x: reduce(lambda a, b: a + b, x) / len(x), unzipped))

print("original tuple:")
print(tuples)
print("Average value of the numbers of the said tuple of tuples:")
print(averages)

original tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

Exercise 15:


Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
# original list
mixed_list = [19,'red',12,'green','blue',10,'white','green',1]

# sort the mixed list using a lambda function as the key
sorted_list = sorted(mixed_list, key=lambda x: (isinstance(x, str), x))

print("original list:")
print(mixed_list)
print("Sort the said mixed list of integers and strings:")
print(sorted_list)

original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

Exercise 16:
Write a Python program to count the occurrences of items in a given list using lambda.
Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [9]:
from functools import reduce

# Original list
original_list = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
from functools import reduce

# Use reduce to count occurences
counts = reduce(lambda acc, x: acc.update({x: acc.get(x, 0) + 1}) or acc, original_list, {})

print("original list:")
print(original_list)
print("count the occurences of items in the list:")
print(counts)

original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
count the occurences of items in the list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}



































































































































































































































































































Exercise 17:


Write a Python program to remove None values from a given list using the lambda function.
Original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [10]:
# original list
original_list = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

# Remove None values using filter and lambda
remove_none = lambda lst: list(filter(lambda x: x is not None, lst))

# Get the result
result = remove_none(original_list)

print("original list:")
print(original_list)
print("Remove None value from the said list:")
print(result)

original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]