<a href="https://colab.research.google.com/github/AMAL1807/DSMLTASK/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1  
Write Python code that prints your name, student number and email address.  
An example runs of the program:  
Bob
ST1001
bob@gmail.com

In [6]:

NAME = "AMAL.A.P"
STUDENT_NUMBER = "24"
EMAIL_ADDRESS = "amalvirat1807@gmail.com"

print(NAME)
print(STUDENT_NUMBER)
print(EMAIL_ADDRESS)

AMAL.A.P
24
amalambu6@gmail.com

Exercise 2
Write Python code that prints your name, student number and email address using escape sequences.     
An example runs of the program:
Bob
ST1001
bob@gmail.com

In [7]:
print("AMAL.A.P\nST24\namalvirat1807@gmail.com")

AMAL.A.P
ST24
amalvirat1807@gmail.com

Exercise 3
Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.  An example run of the program:  
14 + 7 = 21
14 * 7 = 98
14 – 7 = 7
14 / 7 = 2

In [9]:
a = int(input("Enter First Number : "))
b = int(input("Enter Second Number : "))

print("addition of ", a, "and", b, "is", a+b)
print("subtraction of ", a, "and", b, "is", a-b)
print("product of ", a, "and", b, "is", a*b)
if b != 0:
    print("division of ", a, "and", b, "is", a/b)
else:
    print("Division by zero is not allowed.")
    print("division by zero is not possible")

Enter First Number : 14
Enter Second Number : 7
addition of  14 and 7 is 21
subtraction of  14 and 7 is 7
product of  14 and 7 is 98
division of  14 and 7 is 2.0

Exercise 4
Write Python code that displays the numbers from 1 to 5 as steps.
An example runs of the program:
1
2
3
4
5

In [10]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

Exercise 5
Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:
An example runs of the program:  
"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [11]:
print("\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

Exercise 6
Practice and check the output
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

In [12]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

Exercise 7
Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?
num=23
textnum="57"
decimal=98.3

In [13]:
# Define variables
num = 23
textnum = "57"
decimal = 98.3

# Print types of each variable
print("Type of num:", type(num))
print("Type of textnum:", type(textnum))
print("Type of decimal:", type(decimal))

# Convert textnum to integer and calculate the sum
sum_of_variables = num + int(textnum) + decimal
print("Sum of variables:", sum_of_variables)

# Print the type of the sum
print("Type of sum_of_variables:", type(sum_of_variables))

Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>
Sum of variables: 178.3
Type of sum_of_variables: <class 'float'>

Exercise 8
calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [14]:
# Description of the code
print("This code calculates the number of minutes in a year.")

# Define variables
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

# Calculate total minutes in a year
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour

# Print the values
print("Number of days in a year:", days_in_year)
print("Number of hours in a day:", hours_in_day)
print("Number of minutes in an hour:", minutes_in_hour)
print("Total number of minutes in a year:", total_minutes_in_year)

This code calculates the number of minutes in a year.
Number of days in a year: 365
Number of hours in a day: 24
Number of minutes in an hour: 60
Total number of minutes in a year: 525600

Exercise 9
Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.
An example runs of the program:
Please enter you name: Tony
Hi Tony, welcome to Python programming :)

In [15]:
# Ask the user to enter their name
name = input("Please enter your name: ")

# Print a greeting message with the user's name
print("Hi " + name + ", welcome to Python programming :)")

Please enter your name: Tony
Hi Tony, welcome to Python programming :)

Exercise 10
Name your file: PoundsToDollars.py
Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($)
An example runs of the program:
Please enter amount in pounds: XXX
£ XXX are $ XXX

In [16]:
# Ask the user to enter the amount in pounds
pounds = float(input("Please enter the amount in pounds (£): "))

# Define the conversion rate
conversion_rate = 1.39  # 1 GBP = 1.39 USD (as of current rate)

# Calculate the equivalent amount in dollars
dollars = pounds * conversion_rate

# Print the result
print("{:.2f}£ are {:.2f}$".format(pounds, dollars))

Please enter the amount in pounds (£): 100
100.00£ are 139.00$