<a href="https://colab.research.google.com/github/AMAL1807/DSMLTASK/blob/main/TASK2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a python program to sum all the items in a list

In [ ]:
s=0
list1=[1,2,3,4,5]
for x in list1:
    s=s+x
print(s)

15

Q2. Write a python program to get the largest number from a list

In [ ]:
mylist = [30,50,9,87,67]
print("largest number is:", max(mylist))

largest number is: 87

Q3. Write a python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc','xyz','aba','1221']

In [ ]:
s = 0
list = ['abc','xyz','aba','1221']
for x in list :
    if len(x)>1 and x[0] == x[-1] :
        print("The given words are : ",x)
        s=s+1
print("no. of words you want: ",s)

The given words are :  aba
The given words are :  1221
no. of words you want:  2

Q4. Write a python program to remove duplicates from a list.

In [ ]:
data = [10,20,30,40,40,50,60,10,20]
dup_items = set()
uniq_items = []
for x in data :
    if x not in dup_items :
        uniq_items.append(x)
        dup_items.add(x)
print(dup_items)

{40, 10, 50, 20, 60, 30}

Q5. Write a python program to check if a list is empty or not

In [ ]:
l=[4,3,2]
if not l:
    print("list is empty")
else:
    print("list is filled")

list is filled

Q6. Write a python program to filter the list if the length of the character is < 4
Sample List : ['abc','xyz','aba','1221']
Expected Result : ['abc','xyz','aba']

In [ ]:
mylist = ['abc','xyz','aba','1221']
for x in mylist :
    if len(x) < 4:
        mylist.remove(x)

print(mylist)

['xyz', '1221']

Q7. Write a python program to find the second largest number in a list.

In [ ]:
data = [66,90,87,65,72]
data.sort()
element = data[-2]
print("second largest element is : ",element)

second largest element is :  87

Q8. Write a python program to reverse a list at a specific location

In [ ]:
l=[1,2,3,4,5]
i=2

t=l[i:]
t.reverse()
t
l[:i]+t

[1, 2, 5, 4, 3]

Q9. Write a python program to check if a list is palindrome or not.return true otherwise false

In [ ]:
s = ["madam","peep","rotator"]
reverse = s[::-1]

if( s == reverse ) :
    print("true")
else:
    print("false")

false

Q10. Write a python program to find the union and intersection of two lists

In [ ]:
L1= [1,2,3,4,5]
L2= [3,4,5,6,7]

union = []
intersection = []

#union
for i in L1 :
    if i not in union :
        union.append(i)
for j in L2 :
    if j not in union :
        union.append(j)

#intersection
for i in L1:
    if i in L2:
        intersection.append(i)

print('your union list:',union)
print('your intersection list:',intersection)

your union list: [1, 2, 3, 4, 5, 6, 7]
your intersection list: [3, 4, 5]

Q11. Write a python script to sort (ascending and descending) a dictionary by value

In [ ]:
def sort_dict_by_value(d, reverse=False):
    sorted_dict = dict(sorted(d.items(), key=lambda item: item[1], reverse=reverse))
    return sorted_dict

# Example dictionary
my_dict = {'snickers': 8, 'munch': 10, 'galaxy': 7, 'kitkat': 2}

# Sorting in ascending order
sorted_asc = sort_dict_by_value(my_dict)
print("Ascending order:", sorted_asc)

# Sorting in descending order
sorted_desc = sort_dict_by_value(my_dict, reverse=True)
print("Descending order:", sorted_desc)

Ascending order: {'kitkat': 2, 'galaxy': 7, 'snickers': 8, 'munch': 10}
Descending order: {'munch': 10, 'snickers': 8, 'galaxy': 7, 'kitkat': 2}

Q12. Write a python script to check whether a given key already exists in a dictionary

In [ ]:
d = {"key1": 10, "key2": 23}

if "key150" in d:
    print("key1 exists")
else:
    print("key does not exist")

key does not exist

Q13.Write a python program to sum all the values in a dictionary

In [ ]:
n=int(input("Enter the total no of key-value pairs you want inside your dictionary: "))
d={}
for i in range(n):
    k=input("Enter the key : ")
    v=int(input("enter the value : "))
    d.update({k:v})
print("my dictionary", d)
result=sum(d.values())
print("sum of values ",result)

Enter the total no of key-value pairs you want inside your dictionary: 5
Enter the key : a
enter the value : 1
Enter the key : b
enter the value : 2
Enter the key : c
enter the value : 3
Enter the key : d
enter the value : 4
Enter the key : e
enter the value : 5
my dictionary {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
sum of values  15

Q14. Write a python program to create a dictionary with a number and its corresponding square from 1 to input number.And also check if the input number is less than 10

Eg:

Input : 3

Output : {1:1, 2:4, 3:9}

In [ ]:
n = int(input('Enter a value: '))
d ={i:i**2 for i in range(1,n+1)}
print(d)

if n < 10:
    print(f"Yes, the input number {n} is less than 10")
else:
    print(f"No, the input number {n} is greater than 10")

Enter a value: 3
{1: 1, 2: 4, 3: 9}
Yes, the input number 3 is less than 10

Q15.Write a python program to sort a given dictionary by key.

In [ ]:
d={"raju":78,"chutki":87,"dholu":90,"bholu":92}
l=sorted(d.keys())
s=list()
for ele in l:
    s.append(d[ele])
d1=dict(zip(l,s))
print("Sorted Dictionary",d1)

Sorted Dictionary {'bholu': 92, 'chutki': 87, 'dholu': 90, 'raju': 78}

Q16. Write a python program to create a dictionary from a string.
Note: Track the count of the letters from the string.

Sample string : 'learnpython'

Expected Output: {'l': 1,'e': 1,'a': 1,'r': 1,'n': 2,'p': 1,'y': 1,'t': 1,'h': 1, 'o':1}

In [ ]:
letter = input()
dict = {}

for x in letter:
    keys = dict.keys()
    if x in keys:
        dict[x] += 1
    else:
        dict[x] =1

print(dict)

learnpython
{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

Q17. Write a python program to get the top three items in a shop.

Sample data: {'item1':45.50,'item2':35,'item3':41.30,'item4':55,'item5':24}

Expected Output:

item4 55

item1 45.50

item3 41.3

In [1]:
shop={"item1" : 45.50,"item2" : 35,"item3" : 41.30,"item4" : 55,"item5" : 24}

sorted_items = sorted(shop.items(),key=lambda x:x[1],reverse=True)

top_3_items = sorted_items[:3]

print(dict(top_3_items))

{'item4': 55, 'item1': 45.5, 'item3': 41.3}